@charset "UTF-8";

.inner {
  width: 1100px;
  margin: 0 auto;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: #fff;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.header--inner {
  padding: 15px 0;
}

.header--inner-bolt {
  color: #4e4e4e;
}

.header--inner--btn {
  float: right;
  font-size: 12px;
  padding: 12px 14px;
  text-decoration: none;
  color: #fff;  
  background-color: #74cfae;
  transition: all .3s;
}

.header--inner--btn:hover {
  color: #333;
}

.theme {
  background-color:#f2f2f2;
}

.theme--inner {
  height: 640px;
  padding-top: 70px;
  display:table;
  text-align: center;
}

.theme--inner--text {
  display:table-cell;
  vertical-align:middle;
}

.theme--inner--text h1 {
  font-size: 90px;
  font-weight: 700;
  font-family: Raleway;
  color: #74cfae;
  margin-bottom: 20px;
}

.theme--inner--text h2 {
  font-size: 30px;
  color: #c0c0c0;
}

.section--top {
  background-color: #74cfae;
}

.section--inner {
  width: 1100px;
  margin: 0 auto;
  display: table;
  padding-top: 50px;
}

.section--box {
  display: table-cell;
  padding-left: 50px;
  vertical-align: top;
  text-align: center;
}

.section--box h2 {
  font-size: 24px;
  font-family: Raleway;
  padding-bottom: 35px;
  color: #fff;
}

.section--box p {
  font-size: 20px;
  line-height: 150%;
  color: #fff;
}

.article {
  width: auto;
  background-color: #f2f2f2;
}

.article--inner {
  padding: 60px 0 70px 0;
}

.article--inner h2 {
  font-size: 24px;
  font-family: Raleway;
  text-align: center;
  color: #333;
}

.article--inner--img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.img--container--items {
  opacity: 0.7;
  transition: all 0.3s;
}

.img--container--items:hover {
  opacity: 1;
}

.img--container--items:nth-child(-n+3) {
  margin-left: 100px;
}

.img--container--items:first-child {
  margin-left: 0;
}

.img--container--items:nth-child(n+4) {
  margin: 80px 0 0 100px;
}

.img--container--items:nth-child(4) {
  margin-left: 0;
}

.article--inner--text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.article--inner--text p {
  text-align: center;
  line-height: 140%;
  color: #333;
  width: 540px;
}

.article--inner--text a {
  margin-left: 90px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #f2f2f2;
  font-size: 12px;
}

.article--inner--text a {
  transition: all 0.3s;
  text-decoration: none;
}

.article--inner--text a:hover {
  color: #333;
}

.section--bottom {
  background-color: #4e4e4e;
}

.section--bottom--box {
  text-align: center;
}

.section--bottom--box h1 {
  padding-top: 70px;
  padding-bottom: 70px;
  font-size: 24px;
  color: #fff;
}

.section--bottom--img--box {
  display: table;
}

.section--bottom--img--frame {
  display: table-cell;
  padding-left: 180px;
  padding-bottom: 100px;
}

.section--bottom--img--frame:first-of-type {
  padding-left: 0px;
}

.section--bottom--inner--text {
  padding-top: 20px;
  font-size: 16px;
  color: #fff;
}

.nav {
  background-color: #f2f2f2;
}

.nav {
  width: auto;
  background-color: #f2f2f2;
}

.nav--inner {
  padding: 200px 0;
}

.nav--innner--contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns--icons {
  width: 185px;
  padding: 40px 0;
  text-align: center;
  transition: all 0.3s;
}

.sns--icons a {
  display: block;
}
.sns--icons:hover {
  background-color: #fff;
}
.sns--icons--items {
  color: #74cfae;
}

.footer {
  background-color: #74cfae;
}

.footer--inner h2 {
  text-align : right;
  color: #fff;
  padding: 20px 0 25px 0;
}

