@charset "UTF-8";

body {
  font-family: "Lato";
}

.is-raleway {
  font-family: "Raleway";
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

a {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.header-inner {
  padding: 15px 0;
}

.header-inner-bolt {
  color: #4e4e4e;
}

.header-inner-btn {
  float: right;
  font-size: 12px;
  padding: 12px 14px;
  text-decoration: none;
  color: #fff;  
  background-color: #74cfae;
  transition: all .3s;
}

.header-inner-btn:hover {
  color: #333;
}

.bolt-main {
  padding-top: 66px;
}

.theme {
  background-color:#f2f2f2;
}

.theme-inner {
  padding:250px 0 ;
}

.theme-inner h1 {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.theme-inner p {
  font-size: 30px;
  margin-top: 20px;
  color: #c0c0c0;
}

.section-top {
  position: relative;
  background-color: #74cfae;
}

.section-inner {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}

.section-box {
  text-align: center;
  color: #fff;
}

.section-box h2 {
  font-size: 24px;
  margin-top: 30px;
}

.section-box p {
  width: 650px;
  font-size: 20px;
  margin-top: 35px;
  line-height: 150%;
}

.work {
  width: auto;
  background-color: #f2f2f2;
}

.work-inner {
  padding: 60px 0 70px 0;
  color: #333;
}

.work-inner h2 {
  font-size: 24px;
}

.work-inner-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.img-container-items {
  opacity: 0.7;
  transition: all 0.3s;
  margin: 80px 0 0 100px;
}

.img-container-items:hover {
  opacity: 1;
}

.img-container-items:nth-child(-n+3) {
  margin-top: 0;
}

.img-container-items:nth-child(3n+1) {
  margin-left: 0;
}

.img-container-items img {
  vertical-align: bottom;
}

.work-inner-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.work-inner-text p {
  line-height: 130%;
  width: 460px;
}

.work-inner-text a {
  margin-left: 90px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #f2f2f2;
  font-size: 12px;
}

.work-inner-text a {
  transition: all 0.3s;
  text-decoration: none;
}

.work-inner-text a:hover {
  color: #333;
}

.ourskills-section {
  background-color: #4e4e4e;
}

.ourskills-inner {
  padding: 70px 0 100px 0;
  color: #f2f2f2;
}

.ourskills-inner h2 {
  font-size: 24px;
}

.ourskills-inner-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ourskills-inner-items {
  margin-left: 180px;
}

.ourskills-inner-items:first-child {
  margin-left: 0px;
}

.ourskills-inner-items figcaption {
  margin-top: 15px;
  font-size: 16px;
  text-align: center;
}

.ourskills-inner-items img {
  max-width: 100%;
}

.nav {
  width: auto;
  background-color: #f2f2f2;
}

.nav-inner {
  padding: 200px 0;
}

.nav-innner-contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns-icons {
  width: 185px;
  text-align: center;
  transition: all 0.3s;
}

.sns-icons a {
  height: 100%;
  display: block;
}

.sns-icons:hover {
  background-color: #fff;
}

.sns-icons-items {
  padding: 25px 0;
  color: #74cfae;
}

.footer {
  background-color: #74cfae;
}

.footer-inner {
  padding: 20px 0 25px 0;
  color: #fff;
}

.footer-inner p {
  text-align : right;
}

@media screen and (max-width: 1199px) {

  .inner {
  width: 97%;
  }

  .section-inner {
    padding: 50px 0 25px 0;
    display: block;
    text-align: center;
  }

  .section-box {
    margin-top: 20px;
  }

  .section-box h2 {
    margin-top: 0;
  }

  .section-box p {
    margin: 0 auto;
    margin-top: 35px;
    width: 90%;
  }

  .work-inner-img {
    flex-direction: column;
    text-align: center;
  }

  .img-container-items {
    margin: 0;
  }

  .img-container-items:nth-child(3n+1) {
    margin-top: 80px;
  }

  .img-container-items:first-child {
    margin-top: 0;
  }

  .work-inner-text {
    display: block;
    margin-top: 80px;
  }

  .work-inner-text p {
    margin: 0 auto;
    width: 90%;
  }

  .work-inner-text a {
    margin-left: 0;
    margin-top: 40px;
  }

  .ourskills-inner-list {
    display: block;
  }

  .ourskills-inner-items {
    margin-left: 0;
    margin-top: 88px;
  }

  .ourskills-inner-items:first-child {
    margin-top: 0;
  }

}

@media screen and (max-width: 767px) {

  .header-inner-btn {
    display: none;
  }

  .hamburger-menu {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 12px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .menu-btn,
  .menu-btn::before,
  .menu-btn::after {
    content: '';
    display: block;
    height: 2px;
    width: 20px;
    background-color: #ddd;
    position: absolute;
  }

  .menu-btn::before {
    top: 6px;
  }

  .menu-btn::after {
    bottom: 6px;
  }

  .theme-inner {
    padding: 160px 0 130px 0;
  }

  .theme-inner h1 {
    font-size: 80px;
  }

  .theme-inner p {
    font-size: 30px;
  }

  .nav-inner {
    padding: 50px 0;
  }

  .nav-innner-contents {
    flex-direction: column;
    margin: 0 15px;
  }

  .sns-icons,
  .sns-icons a {
    width: 100%;
  }

}